{% extends "main.html" %}

{% block body %}
    {% if request.user.is_authenticated %}
        <a href="{% url 'account_logout' %}">Log Out</a><br>
    {% endif %}
    <a href="{% url 'appone:post' %}"> 
        POST
    </a>
    <br><br>
    <hr>
        {% for post in posts %}

            <!-- {{post.text}} <br>
            <img src="{{post.image.url}}">
            <hr> -->




            <div class="mt-6">
                <div class="max-w-4xl px-10 py-6 mx-auto bg-white rounded-lg shadow-md">
                    <div class="flex items-center justify-between"><span class="font-light text-gray-600">Jun 1,
                            2020</span><a href="#"
                            class="px-2 py-1 font-bold text-gray-100 bg-gray-600 rounded hover:bg-gray-500">Laravel</a>
                    </div>
                    <div class="mt-2">
                        <img class="mt-10 ml-20 w-4/5 h-4/5 shadow-md" src="{{post.image.url}}">
                        <p class="mt-8 ml-10 text-2xl font-bold text-gray-700 hover:underline">{{post.text}}</p>
                    </div>
                    <div class="flex items-center justify-between mt-4"><a href="#"
                            class="text-blue-500 hover:underline">Read more</a>
                        <div><a href="#" class="flex items-center"><img
                                    src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=731&amp;q=80"
                                    alt="avatar" class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block">
                                <h1 class="font-bold text-gray-700 hover:underline">Alex John</h1>
                            </a></div>
                    </div>
                </div>
            </div>
        {% endfor %}


{% endblock %}